body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: #323232;
}

hr {
  margin: 40px 0 10px 0;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  clear: both;
}

input {
  width: 50px;
  border-radius: 5px;
  font-size: 1em;
}

li {
  list-style: none;
}

.header {
  padding: 0 0 25px 0;
}

.heading {
  float:left;
}

.heading h1{
  font-family: cursive;
}

.heading-sub {
  margin-top: -10px;
  font-family: arial;
  font-style: italic;
}


.ticker {
  float:left;
  margin: 20px 0 0 25px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.green {
  background-color: #72FB8F;
}

.red {
  background-color: red;
}

.green-font {
  color: #72FB8F;
}

.red-font {
  color: red;
}

.ticker-price {
  float: left;
}

.ticker-price p{
  float: left;
  font-size: 2em;
  line-height: .5;
  padding: 0;
  margin: 8px 0 0 0;
}

.ticker-price-change {
  float: right;
  text-align: right;
  margin-left: 10px;
}

.ticker-price-change p{
  line-height: 1;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.ticker-price-change .larger{
  font-size: 1.2em;
}

.clear {
  clear: both;
}

.i {
  font-style: italic;
}

.investment {
  text-align: center;
}

.investments-panel {
  padding: 25px;
}

.transaction-window {
  -webkit-box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  -moz-box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  border-radius: 20px;
  width: 275px;
  padding: 25px;
  margin: 0 auto;
}

.submit-button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0 20px 0;
  width: 75px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.sell-button {
  border: none;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}
