body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: #323232;
}

hr {
  margin: 40px 0 10px 0;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  clear: both;
}

input {
  width: 50px;
  border-radius: 5px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #5F9CFF;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

table {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  table-layout: fixed;
  line-height: 1.25;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table td {
  width: 130px;
  padding: .625em;
  text-align: center;
}

.inline {
  display: inline-block;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.header {
  padding: 0 0 25px 0;
}

.heading {
  float:left;
}

.heading h1{
  font-family: cursive;
}

.heading-sub {
  margin-top: -10px;
  font-family: arial;
  font-style: italic;
}


.ticker {
  float:left;
  margin: 20px 0 0 25px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.green {
  background-color: #72FB8F;
}

.red {
  background-color: red;
}

.green-font {
  color: #72FB8F;
}

.red-font {
  color: red;
}

.ticker-price {
  float: left;
}

.ticker-price p{
  float: left;
  font-size: 2em;
  line-height: .5;
  padding: 0;
  margin: 8px 0 0 0;
}

.ticker-price-change {
  float: right;
  text-align: right;
  margin-left: 10px;
}

.ticker-price-change p{
  line-height: 1;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.ticker-price-change .larger{
  font-size: 1.2em;
}

.clear {
  clear: both;
}

.i {
  font-style: italic;
}

.investment {
  text-align: center;
}

.investments-panel {
  padding: 25px;
}

.transaction-window {
  -webkit-box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  -moz-box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  box-shadow: 0px 13px 46px 4px rgba(220,220,220,1);
  border-radius: 20px;
  width: 275px;
  padding: 25px;
  margin: 0 auto;
}

.submit-button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0 20px 0;
  width: 75px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.sell-button {
  border: none;
  border-radius: 5px;
  margin: 20px 0 20px 20px;
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.stock-data {
  padding: 25px 0 0 0;
  margin: 0 auto;
  text-align: center;
}

.invest-ad {
  background-color: #232323;
  width: 90%;
  padding: 15px 10px 10px 10px;
  margin-left: calc(5% - 20px);
  border: 1px solid #DCDCDC;
  color: #fff;
  font-size: .9em;
}

.float-right {
  float: right;
  padding-right: 10px;
}

.invest-ad-button {
  padding: 5px 20px;
  margin: 0px 10px 10px 0px;
  float: right;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  color: #FFF;
  text-decoration: none;
  border-bottom: 5px solid #dcdcdc;
	text-shadow: 0px 2px #757575;
}

.invest-ad-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 5px solid #232323;
}

.intro {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -200px;
}

.intro-button {
  margin-top: calc(50% - 150px);
  margin-left: calc(50% - 75px);
  position: absolute;
  text-decoration: none;
	padding: 20px 80px;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	color: #FFF;
  border-radius: 10px;
  border-bottom: 5px solid #dcdcdc;
  text-shadow: 0px 2px #757575;
}

.intro-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

@media only screen and (max-width: 550px) {

  .invest-ad {
    background-color: #232323;
    width: 90%;
    padding: 15px 10px 10px 10px;
    margin-left: calc(5% - 20px);
    border: 1px solid #DCDCDC;
    color: #fff;
    font-size: .9em;
  }

  .float-right {
    float: right;
    padding-right: 10px;
  }

  .ad-text {
    width: 50%;
  }

  .invest-ad-button {
    padding: 5px 10px;
    margin: 8px 10px 10px 0px;
    font-size: 0.8em;
    border-bottom: none;
  }

  .transaction-window div, li, p {
    font-size: 0.8em;
  }

  .transaction-window {
    width: 200px;
  }

  .sell-button {
    margin: 20px 0 20px 5px;
  }

  .investments-panel {
    padding: 25px 0 25px 0;
    font-size: 0.8em;
  }

  table {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  table caption {
    font-size: 1em;
    margin: 0 0 0 0;
  }

  table tr {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: .35em;
  }

  table td {
    width: 92px !important;
    font-size: 0.8em;
  }
}
